.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width:600px;
  height:600px;
  margin:0 auto;
  margin-top:-80px;
  place-items: center;
  align-items: center;
  background-color: crimson;
}


.square{
  background-color: white;
  width:80px;
  height:80px;
  border:3px solid black;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}